*{
    margin: 0%;
    margin-top: 0%;
}
.header_top{
    background-color: rgb(8, 141, 121);
    height: 3rem; 
}
.header_top p{
    margin-left: 9%;
    color: white;
}
.contact-1{
    margin-left: 15%;
}
.contact-1 a{
    color: white;
    margin-left: 1%;
}

.contact-1 a i{
    color: white;
    margin-left: 1%;
    margin-top: 0%;
}
.contact-2{
    float: right;
    display: flex;
    position: absolute;
    right: 10%;
    top: 3px;
}
.header_top .contact-2 p{
    color: white;    
}
.contact-2 a i{
    color: white;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown span{
    margin: 0px 2px;
    padding: 0px 2px;
}
.contact-2 span{
    color: white;
}
.logo{
   float: left;
}

.logo img{
    margin-left: 8rem;
    width: 65%;
}
.header_side{
    display: flex;
    padding: 2%;
    margin-left: 30%;
    margin-right: 20%;
    align-items: center;
    font-size: larger;
    justify-content: space-between;
    
}
.header_side a{
    text-decoration: none;
    color: rgb(64, 62, 62);
    padding: 16px;
}
.button{
    background-color:  rgb(127, 233, 217);
    width: 15%;
    padding: 0.8%;
    margin-left: 30%;
}
.main{
    margin-top: 20px;
    background-image: url(images/img.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 535px;
    position: relative;
}
.main-slider-left{
    position: absolute;
    color: white;
    font-size: xx-large;
    top: 56%;
    left: 13%;
}
.main-slider-right{
    position: absolute;
    color: white;
    font-size: xx-large;
    bottom: 37%;
    left: 90%;
}
.main .main_content a i{
    font-size: xx-large;
    color: black;
    border: 1px solid white;
    background-color: white;
    padding: 1%;
    margin-top: 3%;
}
.main_content h1{
    text-align: center;
    color: white;
    padding-top: 5%;
    padding-right: 25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.main_content p{
    text-align: center;
    margin-left: 17%;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: large;
    padding-right: 28%;
}
.btn {
    padding-left: 16.5%;
    margin-top: 2%;
}
.btn a{
    text-decoration: none;
    color: white;
    border: 2px solid;
    border-radius: 5px;   
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    display:inline-block;
    margin: 1%
}
.gallery{
    text-align: center;
    font-size: larger;
    margin-top: px;
    padding: 4%;
}
.gallery h1{
    color: black;
}
.gallery h1 span{
    color: rgb(39, 175, 153);
}
.gallery p{
    padding-top: 4%;
    padding-left: 30%;
    padding-right: 25%;
    padding-bottom: 3.5%;
    font-family: Arial, Helvetica, sans-serif;
}
.gallery a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content:space-between;
    align-self: center;
    margin-top: 5%;
    padding: 1%;
    font-size: 1.3rem;    
    font-weight: bolder;
    color: black;
}
.gallery a:hover{
    color: rgb(13, 174, 174);
}
.photo img{
    display: inline-block;
    width: 22%;
    height: 50vh;
    padding: 1%;
}
.Events{
    background-image: url(images/background\ img.jpg);
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10%;
}
.Events h2{
    padding-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%; 
    color: white;
}
.Events a{
    color: white;
    padding-left: 7%;
    font-size: x-large;
    
}
.Events p{
    padding-top: 0.1%;
    margin-left: 10%;
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
}
.footer_container{
    background-color: rgba(21, 2, 2, 0.824);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 55vh;
    padding-left: 5%;
    font-size: 15px;
    display: flex;
}
.about_us{
    padding-top: 3%;
    position: relative;
}
.about_us p{
    padding-top: 10%;
    padding-right: 35%;
    
}
.contact_us{
    padding-top: 2.5%;
}
.contact_us p{
    padding-top: 2.5%;
}
.our_project{
    display: flex;
    padding-top: 3%;
    flex-wrap: wrap;
    padding-right: 10%;
}
.our_project ul{
    padding-left: 5%;
    padding-top: 20%;
    margin-bottom: 10rem;
    line-height: 2rem;
    list-style: none;
}
.quick_link{
    display: flex;
    padding-right: 15%;
    padding-top: 3%;
    flex-wrap: wrap;
}
.quick_link ul{
    padding-left: 0%;
    padding-top: 20%;
    margin-bottom: 10rem;
    line-height: 2rem;
    list-style: none;
}
.newsletter{ 
    padding-right: 0.9%;
    padding-top: 3%;
    flex-wrap: wrap;
}
.newsletter h2{
    padding-right: 11.2rem;
}
.newsletter p{
    padding-top: 10%;
    padding-right: 15%;
}
.newsletter input{
    margin-top: 10%;
    margin-left: 1%;
    padding-right: 5%;
    height: 9%;
    border: none;
}
button{
        border: none;
        padding: 10px;
        background: rgb(12, 236, 236);
}
.about_us h2::before{
    content: '';
    position: absolute;
    left: 10;
    background-color: #00b8e6;
    height: 3px;
    box-sizing: border-box;
    width: 32px;
    margin-top: 32px;
}
.our_project h2::before{
    content: '';
    position: absolute;
    left: 10;
    background-color: #00b8e6;
    height: 3px;
    box-sizing: border-box;
    width: 32px;
    margin-top: 32px;
}
.quick_link h2::before{
    content: '';
    position: absolute;
    left: 10;
    background-color: #00b8e6;
    height: 3px;
    box-sizing: border-box;
    width: 32px;
    margin-top: 32px;
}
.newsletter h2::before{
    content: '';
    position: absolute;
    left: 10;
    background-color: #00b8e6;
    height: 3px;
    box-sizing: border-box;
    width: 32px;
    margin-top: 32px;
}

.footer_container1{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 20px 0px;
}

.left-col {
    color: white;
    position: relative;
    left: 7.5%;
}
.right-col{
    align-items: end;
    position: absolute;
    right: 5%;
}
.right-col a{
    color: white;
    padding-left: 15px;
}
